In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import raw data files
df_budgets = pd.read_csv('../data/tn.movie_budgets.csv.gz')
df_basics = pd.read_csv('../data/imdb.title.basics.csv.gz')

In [3]:
def cleanbudgetdata(df):
    # Step 1. Strip out $ signs.
    df = df.applymap(lambda x: str(x).replace('$', ''))
# Step 2. Strip away ','.
    df['worldwide_gross'] = df['worldwide_gross'].map(lambda x: str(x).replace(',', '_'))
    df['domestic_gross'] = df['domestic_gross'].map(lambda x: str(x).replace(',', '_'))
    df['production_budget'] = df['production_budget'].map(lambda x: str(x).replace(',', '_'))
    # Step 3. Transform string values into integers.
    df['worldwide_gross'] = df['worldwide_gross'].astype(int)
    df['domestic_gross'] = df['domestic_gross'].astype(int)
    df['production_budget'] = df['production_budget'].astype(int)
    return df

In [4]:
df_budgets2 = cleanbudgetdata(df_budgets)
df_budgets2

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220
6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,300000000,309420425,963420425
8,9,"Nov 17, 2017",Justice League,300000000,229024295,655945209
9,10,"Nov 6, 2015",Spectre,300000000,200074175,879620923
10,11,"Jul 20, 2012",The Dark Knight Rises,275000000,448139099,1084439099
11,12,"May 25, 2018",Solo: A Star Wars Story,275000000,213767512,393151347
12,13,"Jul 2, 2013",The Lone Ranger,275000000,89302115,260002115
13,14,"Mar 9, 2012",John Carter,275000000,73058679,282778100
14,15,"Nov 24, 2010",Tangled,260000000,200821936,586477240
15,16,"May 4, 2007",Spider-Man 3,258000000,336530303,894860230
16,17,"May 6, 2016",Captain America: Civil War,250000000,408084349,1140069413
17,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,250000000,330360194,867500281
18,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,250000000,303003568,1017003568
19,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,250000000,302089278,935213767
20,21,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,250000000,258366855,960366855
21,22,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,250000000,255119788,945577621
22,23,"Apr 14, 2017",The Fate of the Furious,250000000,225764765,1234846267
23,24,"Jun 28, 2006",Superman Returns,232000000,200120000,374085065
24,25,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,230000000,172558876,788241137
25,26,"Nov 14, 2008",Quantum of Solace,230000000,169368427,591692078
26,27,"May 4, 2012",The Avengers,225000000,623279547,1517935897
27,28,"Jul 7, 2006",Pirates of the Caribbean: Dead Manâs Chest,225000000,423315812,1066215812
28,29,"Jun 14, 2013",Man of Steel,225000000,291045518,667999518
29,30,"May 16, 2008",The Chronicles of Narnia: Prince Caspian,225000000,141621490,417341288
...,...,...,...,...,...,...
5752,53,"Aug 1, 1991",Slacker,23000,1227508,1227508
5753,54,"Dec 31, 2014",Dry Spell,22000,0,0
5754,55,"Dec 31, 2003",Flywheel,20000,0,0
5755,56,"Jan 4, 2013",All Superheroes Must Die,20000,0,0
5756,57,"Apr 21, 2015",The Front Man,20000,0,0
5757,58,"Dec 1, 2003",Steel Spirit,20000,0,0
5758,59,"Nov 25, 2011",The Ridges,17300,0,0
5759,60,"Jun 2, 2006",The Puffy Chair,15000,194523,195254
5760,61,"Apr 2, 2010",Breaking Upwards,15000,115592,115592
5761,62,"Dec 31, 2014",Stories of Our Lives,15000,0,0
5762,63,"Apr 11, 1997",Pink Flamingos,12000,413802,413802
5763,64,"Apr 28, 2006",Grip: A Criminal's Story,12000,1336,1336
5764,65,"Dec 31, 2007",Tin Can Man,12000,0,0
5765,66,"Mar 9, 2001",Dayereh,10000,673780,673780
5766,67,"Apr 28, 2006",Clean,10000,138711,138711
5767,68,"Jul 6, 2001",Cure,10000,94596,94596
5768,69,"May 28, 2004",On the Downlow,10000,1987,1987
5769,70,"Apr 1, 1996",Bang,10000,527,527
5770,71,"Aug 14, 2008",The Rise and Fall of Miss Thang,10000,401,401
5771,72,"May 19, 2015",Family Motocross,10000,0,0
5772,73,"Jan 13, 2012",Newlyweds,9000,4584,4584
5773,74,"Feb 26, 1993",El Mariachi,7000,2040920,2041928
5774,75,"Oct 8, 2004",Primer,7000,424760,841926
5775,76,"May 26, 2006",Cavite,7000,70071,71644
5776,77,"Dec 31, 2004",The Mongol King,7000,900,900
5777,78,"Dec 31, 2018",Red 11,7000,0,0
5778,79,"Apr 2, 1999",Following,6000,48482,240495
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000,1338,1338
5780,81,"Sep 29, 2015",A Plague So Pleasant,1400,0,0
5781,82,"Aug 5, 2005",My Date With Drew,1100,181041,181041

In [11]:
df_budgets2.head(1)

  id  release_date   movie  production_budget  domestic_gross  worldwide_gross
0  1  Dec 18, 2009  Avatar          425000000       760507625       2776345279

In [23]:
def manipulatebudgetdata(df):
# Create a new variable 'worldwide_roi' by calculating ROI.
    df['worldwide_roi'] = (df['worldwide_gross'] / df['production_budget']) *100
# Sort dataframe by ROI, starting with highest ROI.
    df = df.sort_values('worldwide_roi', ascending=False)
# There is one huge outlier that is in a category we can assume our client doesn't want to enter. Drop it.
    df = df.drop(5745, axis=0)
# Reset our index, because we have removed an outlier and sorted our data.
    df = df.reset_index()
    df = df.drop('index', axis=1)
    return df

In [26]:
df_budgets3 = manipulatebudgetdata(df_budgets2)

df_budgets3.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_roi
0,14,"Mar 21, 1980",Mad Max,200000,8750000,99750000,49875.000000
1,93,"Sep 25, 2009",Paranormal Activity,450000,107918810,194183034,43151.785333
2,80,"Jul 10, 2015",The Gallows,100000,22764410,41656474,41656.474000
3,7,"Jul 14, 1999",The Blair Witch Project,600000,140539099,248300000,41383.333333
4,10,"May 7, 2004",Super Size Me,65000,11529368,22233808,34205.858462

In [28]:
# Create a new variable 'roi_category' to classify levels of ROI (based on quintiles).
names = ['low', 'somewhat low', 'moderate', 'somewhat high', 'high']
pd.qcut(df_budgets3['worldwide_roi'], 5, labels=names)
df_budgets3['roi_category'] = pd.qcut(df_budgets3['worldwide_roi'], 5, labels=names)

In [29]:
# Create a new variable 'movie_year' within both 'budgets' and 'basics' datasets which we can use to merge.
df_budgets3['movie_year'] = df_budgets3['movie']+" (" + df_budgets3['release_date'].map(lambda x: x[-4: len(x)])+")"

df_budgets3.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_roi,roi_category,movie_year
0,14,"Mar 21, 1980",Mad Max,200000,8750000,99750000,49875.000000,high,Mad Max (1980)
1,93,"Sep 25, 2009",Paranormal Activity,450000,107918810,194183034,43151.785333,high,Paranormal Activity (2009)
2,80,"Jul 10, 2015",The Gallows,100000,22764410,41656474,41656.474000,high,The Gallows (2015)
3,7,"Jul 14, 1999",The Blair Witch Project,600000,140539099,248300000,41383.333333,high,The Blair Witch Project (1999)
4,10,"May 7, 2004",Super Size Me,65000,11529368,22233808,34205.858462,high,Super Size Me (2004)

In [30]:
df_basics['movie_year'] = df_basics['primary_title']+" (" + df_basics['start_year'].astype(str)+")"

df_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,movie_year
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Sunghursh (2013)
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",One Day Before the Rainy Season (2019)
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,The Other Side of the Wind (2018)
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",Sabse Bada Sukh (2018)
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",The Wandering Soap Opera (2017)

In [31]:
# Merge (left) 'basics' data to our 'budgets' dataset on 'movie_year' that we created in the both datasets.
df_merged_data = df_budgets3.merge(df_basics, how='left', on='movie_year')

# Create a new dataset, dropping all the rows with misssing values.
df_fulldata = df_merged_data.loc[~df_merged_data.isna().any(axis=1)]
df_fulldata.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_roi,roi_category,movie_year,tconst,primary_title,original_title,start_year,runtime_minutes,genres
2,80,"Jul 10, 2015",The Gallows,100000,22764410,41656474,41656.474000,high,The Gallows (2015),tt2309260,The Gallows,The Gallows,2015.0,81.0,"Horror,Mystery,Thriller"
25,12,"Jan 6, 2012",The Devil Inside,1000000,53262945,101759490,10175.949000,high,The Devil Inside (2012),tt1560985,The Devil Inside,The Devil Inside,2012.0,83.0,Horror
51,65,"Oct 20, 2010",Paranormal Activity 2,3000000,84752907,177512032,5917.067733,high,Paranormal Activity 2 (2010),tt1536044,Paranormal Activity 2,Paranormal Activity 2,2010.0,91.0,Horror
59,49,"Feb 24, 2017",Get Out,5000000,176040665,255367951,5107.359020,high,Get Out (2017),tt5052448,Get Out,Get Out,2017.0,104.0,"Horror,Mystery,Thriller"
65,64,"Oct 21, 2016",Moonlight,1500000,27854931,65245512,4349.700800,high,Moonlight (2016),tt4975722,Moonlight,Moonlight,2016.0,111.0,Drama

In [32]:
# Resetting index to 'id' column.
df_fulldata.set_index("id", inplace=True)

df_fulldata.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_roi,roi_category,movie_year,tconst,primary_title,original_title,start_year,runtime_minutes,genres
id,,,,,,,,,,,,,,
80,"Jul 10, 2015",The Gallows,100000,22764410,41656474,41656.474000,high,The Gallows (2015),tt2309260,The Gallows,The Gallows,2015.0,81.0,"Horror,Mystery,Thriller"
12,"Jan 6, 2012",The Devil Inside,1000000,53262945,101759490,10175.949000,high,The Devil Inside (2012),tt1560985,The Devil Inside,The Devil Inside,2012.0,83.0,Horror
65,"Oct 20, 2010",Paranormal Activity 2,3000000,84752907,177512032,5917.067733,high,Paranormal Activity 2 (2010),tt1536044,Paranormal Activity 2,Paranormal Activity 2,2010.0,91.0,Horror
49,"Feb 24, 2017",Get Out,5000000,176040665,255367951,5107.359020,high,Get Out (2017),tt5052448,Get Out,Get Out,2017.0,104.0,"Horror,Mystery,Thriller"
64,"Oct 21, 2016",Moonlight,1500000,27854931,65245512,4349.700800,high,Moonlight (2016),tt4975722,Moonlight,Moonlight,2016.0,111.0,Drama

In [39]:
df_fulldata

,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_roi,roi_category,movie_year,tconst,primary_title,original_title,start_year,runtime_minutes,genres
id,,,,,,,,,,,,,,
80,"Jul 10, 2015",The Gallows,100000,22764410,41656474,41656.474000,high,The Gallows (2015),tt2309260,The Gallows,The Gallows,2015.0,81.0,"Horror,Mystery,Thriller"
12,"Jan 6, 2012",The Devil Inside,1000000,53262945,101759490,10175.949000,high,The Devil Inside (2012),tt1560985,The Devil Inside,The Devil Inside,2012.0,83.0,Horror
65,"Oct 20, 2010",Paranormal Activity 2,3000000,84752907,177512032,5917.067733,high,Paranormal Activity 2 (2010),tt1536044,Paranormal Activity 2,Paranormal Activity 2,2010.0,91.0,Horror
49,"Feb 24, 2017",Get Out,5000000,176040665,255367951,5107.359020,high,Get Out (2017),tt5052448,Get Out,Get Out,2017.0,104.0,"Horror,Mystery,Thriller"
64,"Oct 21, 2016",Moonlight,1500000,27854931,65245512,4349.700800,high,Moonlight (2016),tt4975722,Moonlight,Moonlight,2016.0,111.0,Drama
18,"May 25, 2012",Chernobyl Diaries,1000000,18119640,42411721,4241.172100,high,Chernobyl Diaries (2012),tt1991245,Chernobyl Diaries,Chernobyl Diaries,2012.0,86.0,"Horror,Mystery,Thriller"
51,"Oct 21, 2011",Paranormal Activity 3,5000000,104028807,207039844,4140.796880,high,Paranormal Activity 3 (2011),tt1778304,Paranormal Activity 3,Paranormal Activity 3,2011.0,83.0,"Horror,Mystery,Thriller"
84,"Oct 3, 2014",Annabelle,6500000,84273813,256862920,3951.737231,high,Annabelle (2014),tt3322940,Annabelle,Annabelle,2014.0,99.0,"Horror,Mystery,Thriller"
15,"Aug 27, 2010",The Last Exorcism,1800000,41034350,70165900,3898.105556,high,The Last Exorcism (2010),tt1320244,The Last Exorcism,The Last Exorcism,2010.0,87.0,"Drama,Horror,Thriller"
56,"Dec 21, 2016",Dangal,9500000,12391761,294654618,3101.627558,high,Dangal (2016),tt5074352,Dangal,Dangal,2016.0,161.0,"Action,Biography,Drama"
67,"Jun 7, 2013",The Purge,3000000,64473115,91266581,3042.219367,high,The Purge (2013),tt2184339,The Purge,The Purge,2013.0,85.0,"Horror,Thriller"
55,"Jul 22, 2016",Lights Out,5000000,67268835,148806510,2976.130200,high,Lights Out (2016),tt4786282,Lights Out,Lights Out,2016.0,81.0,"Drama,Horror,Mystery"
55,"Jul 22, 2016",Lights Out,5000000,67268835,148806510,2976.130200,high,Lights Out (2016),tt5328340,Lights Out,Lights Out,2016.0,90.0,Documentary
69,"Oct 12, 2012",Sinister,3000000,48086903,87727807,2924.260233,high,Sinister (2012),tt1922777,Sinister,Sinister,2012.0,110.0,"Horror,Mystery,Thriller"
59,"Oct 19, 2012",Paranormal Activity 4,5000000,53900335,142817992,2856.359840,high,Paranormal Activity 4 (2012),tt2109184,Paranormal Activity 4,Paranormal Activity 4,2012.0,88.0,"Horror,Mystery,Thriller"
86,"Jul 7, 2017",A Ghost Story,100000,1594798,2769782,2769.782000,high,A Ghost Story (2017),tt6265828,A Ghost Story,A Ghost Story,2017.0,92.0,"Drama,Fantasy,Romance"
91,"Apr 13, 2018",Truth or Dare,3500000,41411015,95127344,2717.924114,high,Truth or Dare (2018),tt6772950,Truth or Dare,Truth or Dare,2018.0,100.0,"Horror,Thriller"
91,"Apr 13, 2018",Truth or Dare,3500000,41411015,95127344,2717.924114,high,Truth or Dare (2018),tt6869948,Truth or Dare,Truth or Dare,2018.0,92.0,"Comedy,Drama,Romance"
43,"Jun 6, 2014",The Fault in Our Stars,12000000,124872350,307166834,2559.723617,high,The Fault in Our Stars (2014),tt2582846,The Fault in Our Stars,The Fault in Our Stars,2014.0,126.0,"Drama,Romance"
36,"Oct 19, 2018",Halloween,10000000,159342015,254900667,2549.006670,high,Halloween (2018),tt1502407,Halloween,Halloween,2018.0,106.0,"Horror,Thriller"
46,"Dec 3, 2010",Black Swan,13000000,106954678,331266710,2548.205462,high,Black Swan (2010),tt0947798,Black Swan,Black Swan,2010.0,108.0,"Drama,Thriller"
58,"Oct 13, 2017",Happy Death Day,5000000,55683845,125010260,2500.205200,high,Happy Death Day (2017),tt5308322,Happy Death Day,Happy Death Day,2017.0,96.0,"Horror,Mystery,Thriller"
66,"Aug 28, 2015",War Room,3000000,67790117,73975239,2465.841300,high,War Room (2015),tt3832914,War Room,War Room,2015.0,120.0,Drama
88,"Jun 29, 2012",Magic Mike,7000000,113721571,170549753,2436.425043,high,Magic Mike (2012),tt1915581,Magic Mike,Magic Mike,2012.0,110.0,"Comedy,Drama"
12,"Jan 11, 2013",A Haunted House,2500000,40041683,59922558,2396.902320,high,A Haunted House (2013),tt2243537,A Haunted House,A Haunted House,2013.0,86.0,"Comedy,Fantasy"
54,"Mar 11, 2016",10 Cloverfield Lane,5000000,72082999,108286422,2165.728440,high,10 Cloverfield Lane (2016),tt1179933,10 Cloverfield Lane,10 Cloverfield Lane,2016.0,103.0,"Drama,Horror,Mystery"
92,"Dec 9, 2016",La La Land,20000000,151101803,426351163,2131.755815,high,La La Land (2016),tt3783958,La La Land,La La Land,2016.0,128.0,"Comedy,Drama,Music"
60,"Oct 24, 2014",Ouija,5000000,50856010,103300632,2066.012640,high,Ouija (2014),tt1204977,Ouija,Ouija,2014.0,89.0,"Horror,Mystery,Thriller"
2,"Aug 11, 2017",Annabelle: Creation,15000000,102092201,305384865,2035.899100,high,Annabelle: Creation (2017),tt5140878,Annabelle: Creation,Annabelle: Creation,2017.0,109.0,"Horror,Mystery,Thriller"
24,"Sep 8, 2017",It,35000000,327481748,697457969,1992.737054,high,It (2017),tt1396484,It,It,2017.0,135.0,"Horror,Thriller"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,"Jul 8, 2016",The Dog Lover,2000000,0,0,0.000000,low,The Dog Lover (2016),tt4063178,The Dog Lover,The Dog Lover,2016.0,101.0,Drama
92,"May 18, 2012",Indie Game: The Movie,100000,0,0,0.000000,low,Indie Game: The Movie (2012),tt1942884,Indie Game: The Movie,Indie Game: The Movie,2012.0,103.0,"Documentary,Drama"
27,"Oct 25, 2013",A True Story,45000,0,0,0.000000,low,A True Story (2013),tt1524083,A True Story,A True Story. Based on Things That Never Actua...,2013.0,96.0,Comedy
94,"Dec 31, 2010",The Christmas Bunny,250000,0,0,0.000000,low,The Christmas Bunny (2010),tt1640714,The Christmas Bunny,The Christmas Bunny,2010.0,98.0,"Drama,Family"
96,"Dec 18, 2012",The Frozen,250000,0,0,0.000000,low,The Frozen (2012),tt2363439,The Frozen,The Frozen,2012.0,95.0,"Drama,Thriller"
45,"Dec 31, 2010",Christmas Mail,2500000,0,0,0.000000,low,Christmas Mail (2010),tt1663628,Christmas Mail,Christmas Mail,2010.0,89.0,"Comedy,Drama,Family"
13,"Dec 31, 2012",Hayride,60000,0,0,0.000000,low,Hayride (2012),tt1861343,Hayride,Hayride,2012.0,93.0,"Crime,Drama,Horror"
15,"Oct 4, 2013",The Dirties,55000,0,0,0.000000,low,The Dirties (2013),tt2334896,The Dirties,The Dirties,2013.0,83.0,"Crime,Drama"
14,"Dec 31, 2011",Without Men,4700000,0,0,0.000000,low,Without Men (2011),tt1547090,Without Men,Without Men,2011.0,87.0,Comedy
100,"Oct 27, 2015",Running Forever,5000000,0,0,0.000000,low,Running Forever (2015),tt4453560,Running Forever,Running Forever,2015.0,88.0,Family
95,"Mar 17, 2015",Closure,100000,0,0,0.000000,low,Closure (2015),tt4338136,Closure,Closure,2015.0,62.0,Drama
91,"Aug 18, 2014",Henry & Me,5000000,0,0,0.000000,low,Henry & Me (2014),tt1460798,Henry & Me,Henry & Me,2014.0,67.0,"Animation,Family"
87,"Mar 19, 2013",Straight A's,2000000,0,0,0.000000,low,Straight A's (2013),tt2024506,Straight A's,Straight A's,2013.0,91.0,"Comedy,Drama"
92,"Dec 31, 2014",Lucky Dog,2000000,0,0,0.000000,low,Lucky Dog (2014),tt3149360,Lucky Dog,Lucky Dog,2014.0,88.0,Family
35,"Oct 25, 2013",Her Cry: La Llorona Investigation,35000,0,0,0.000000,low,Her Cry: La Llorona Investigation (2013),tt2469216,Her Cry: La Llorona Investigation,Her Cry: La Llorona Investigation,2013.0,89.0,Horror
42,"Dec 31, 2013",Paraphobia,30000,0,0,0.000000,low,Paraphobia (2013),tt3123250,Paraphobia,Paraphobia,2013.0,80.0,"Comedy,Horror,Thriller"
99,"Dec 31, 2015",Wind Walkers,2000000,0,0,0.000000,low,Wind Walkers (2015),tt1236254,Wind Walkers,Wind Walkers,2015.0,93.0,"Action,Horror,Thriller"
98,"Aug 21, 2015",The Curse of Downers Grove,2000000,0,0,0.000000,low,The Curse of Downers Grove (2015),tt1772261,The Curse of Downers Grove,The Curse of Downers Grove,2015.0,89.0,"Drama,Horror,Mystery"
97,"Dec 31, 2011",True Bromance,2000000,0,0,0.000000,low,True Bromance (2011),tt1839425,True Bromance,True Bromance,2011.0,96.0,Comedy
96,"Mar 20, 2015",The Walking Deceased,2000000,0,0,0.000000,low,The Walking Deceased (2015),tt3499458,The Walking Deceased,Walking with the Dead,2015.0,88.0,"Comedy,Horror"
55,"Jun 25, 2013",Hansel & Gretel Get Baked,4500000,0,0,0.000000,low,Hansel & Gretel Get Baked (2013),tt2081194,Hansel & Gretel Get Baked,Hansel & Gretel Get Baked,2013.0,86.0,"Comedy,Horror"
80,"Dec 13, 2017",Bright,90000000,0,0,0.000000,low,Bright (2017),tt5519340,Bright,Bright,2017.0,117.0,"Action,Crime,Fantasy"
33,"Mar 31, 2012",Foreign Letters,40000,0,0,0.000000,low,Foreign Letters (2012),tt1492841,Foreign Letters,Foreign Letters,2012.0,99.0,"Comedy,Drama"
59,"Nov 25, 2011",The Ridges,17300,0,0,0.000000,low,The Ridges (2011),tt1781935,The Ridges,The Ridges,2011.0,89.0,"Drama,Horror,Thriller"
46,"Jul 3, 2015",Stung,2500000,0,0,0.000000,low,Stung (2015),tt3300572,Stung,Stung,2015.0,87.0,"Action,Adventure,Comedy"
62,"Dec 31, 2014",Stories of Our Lives,15000,0,0,0.000000,low,Stories of Our Lives (2014),tt3973612,Stories of Our Lives,Stories of Our Lives,2014.0,60.0,Drama
57,"Nov 14, 2014",Always Woodstock,2400000,0,0,0.000000,low,Always Woodstock (2014),tt1995477,Always Woodstock,There's Always Woodstock,2014.0,97.0,"Comedy,Music,Romance"
49,"Sep 2, 2016",Antibirth,2500000,0,0,0.000000,low,Antibirth (2016),tt3333870,Antibirth,Antibirth,2016.0,94.0,Horror
89,"Dec 31, 2012",Highway,2000000,0,0,0.000000,low,Highway (2012),tt1693107,Highway,Hillbilly Highway,2012.0,77.0,Comedy
89,"Dec 31, 2012",Highway,2000000,0,0,0.000000,low,Highway (2012),tt2210657,Highway,Highway,2012.0,80.0,Drama