In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
fulldata = pd.read_csv('../movie_data.csv')
fulldata.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_roi,roi_category,movie_year,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,80,"Jul 10, 2015",The Gallows,100000,22764410,41656474,41656.474000,high,The Gallows (2015),tt2309260,The Gallows,The Gallows,2015.0,81.0,"Horror,Mystery,Thriller"
1,12,"Jan 6, 2012",The Devil Inside,1000000,53262945,101759490,10175.949000,high,The Devil Inside (2012),tt1560985,The Devil Inside,The Devil Inside,2012.0,83.0,Horror
2,65,"Oct 20, 2010",Paranormal Activity 2,3000000,84752907,177512032,5917.067733,high,Paranormal Activity 2 (2010),tt1536044,Paranormal Activity 2,Paranormal Activity 2,2010.0,91.0,Horror
3,49,"Feb 24, 2017",Get Out,5000000,176040665,255367951,5107.359020,high,Get Out (2017),tt5052448,Get Out,Get Out,2017.0,104.0,"Horror,Mystery,Thriller"
4,64,"Oct 21, 2016",Moonlight,1500000,27854931,65245512,4349.700800,high,Moonlight (2016),tt4975722,Moonlight,Moonlight,2016.0,111.0,Drama

In [3]:
genreList = []
for el in fulldata['genres'].map(lambda x: str(x).split(",")):
    for el2 in el:
        genreList.append(el2)
genreCols = set(genreList)

In [4]:
genres = pd.DataFrame(columns = genreCols)

In [8]:
blankMatrix = pd.concat([fulldata, genres], axis = 1)

In [9]:
def creatematrix(df):
    for row_index, row in df.iterrows():
        for key, value in (dict(row)).items():
            if key == 'genres':
                for el in value.split(","):
                    df.loc[row_index, el] = 1
    df.fillna(0, inplace=True)
    return df

In [10]:
creatematrix(blankMatrix)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_roi,roi_category,movie_year,tconst,...,Drama,Family,Adventure,Music,Western,Musical,War,History,Mystery,Horror
0,80,"Jul 10, 2015",The Gallows,100000,22764410,41656474,41656.474000,high,The Gallows (2015),tt2309260,...,0,0,0,0,0,0,0,0,1,1
1,12,"Jan 6, 2012",The Devil Inside,1000000,53262945,101759490,10175.949000,high,The Devil Inside (2012),tt1560985,...,0,0,0,0,0,0,0,0,0,1
2,65,"Oct 20, 2010",Paranormal Activity 2,3000000,84752907,177512032,5917.067733,high,Paranormal Activity 2 (2010),tt1536044,...,0,0,0,0,0,0,0,0,0,1
3,49,"Feb 24, 2017",Get Out,5000000,176040665,255367951,5107.359020,high,Get Out (2017),tt5052448,...,0,0,0,0,0,0,0,0,1,1
4,64,"Oct 21, 2016",Moonlight,1500000,27854931,65245512,4349.700800,high,Moonlight (2016),tt4975722,...,1,0,0,0,0,0,0,0,0,0
5,18,"May 25, 2012",Chernobyl Diaries,1000000,18119640,42411721,4241.172100,high,Chernobyl Diaries (2012),tt1991245,...,0,0,0,0,0,0,0,0,1,1
6,51,"Oct 21, 2011",Paranormal Activity 3,5000000,104028807,207039844,4140.796880,high,Paranormal Activity 3 (2011),tt1778304,...,0,0,0,0,0,0,0,0,1,1
7,84,"Oct 3, 2014",Annabelle,6500000,84273813,256862920,3951.737231,high,Annabelle (2014),tt3322940,...,0,0,0,0,0,0,0,0,1,1
8,15,"Aug 27, 2010",The Last Exorcism,1800000,41034350,70165900,3898.105556,high,The Last Exorcism (2010),tt1320244,...,1,0,0,0,0,0,0,0,0,1
9,56,"Dec 21, 2016",Dangal,9500000,12391761,294654618,3101.627558,high,Dangal (2016),tt5074352,...,1,0,0,0,0,0,0,0,0,0
10,67,"Jun 7, 2013",The Purge,3000000,64473115,91266581,3042.219367,high,The Purge (2013),tt2184339,...,0,0,0,0,0,0,0,0,0,1
11,55,"Jul 22, 2016",Lights Out,5000000,67268835,148806510,2976.130200,high,Lights Out (2016),tt4786282,...,1,0,0,0,0,0,0,0,1,1
12,55,"Jul 22, 2016",Lights Out,5000000,67268835,148806510,2976.130200,high,Lights Out (2016),tt5328340,...,0,0,0,0,0,0,0,0,0,0
13,69,"Oct 12, 2012",Sinister,3000000,48086903,87727807,2924.260233,high,Sinister (2012),tt1922777,...,0,0,0,0,0,0,0,0,1,1
14,59,"Oct 19, 2012",Paranormal Activity 4,5000000,53900335,142817992,2856.359840,high,Paranormal Activity 4 (2012),tt2109184,...,0,0,0,0,0,0,0,0,1,1
15,86,"Jul 7, 2017",A Ghost Story,100000,1594798,2769782,2769.782000,high,A Ghost Story (2017),tt6265828,...,1,0,0,0,0,0,0,0,0,0
16,91,"Apr 13, 2018",Truth or Dare,3500000,41411015,95127344,2717.924114,high,Truth or Dare (2018),tt6772950,...,0,0,0,0,0,0,0,0,0,1
17,91,"Apr 13, 2018",Truth or Dare,3500000,41411015,95127344,2717.924114,high,Truth or Dare (2018),tt6869948,...,1,0,0,0,0,0,0,0,0,0
18,43,"Jun 6, 2014",The Fault in Our Stars,12000000,124872350,307166834,2559.723617,high,The Fault in Our Stars (2014),tt2582846,...,1,0,0,0,0,0,0,0,0,0
19,36,"Oct 19, 2018",Halloween,10000000,159342015,254900667,2549.006670,high,Halloween (2018),tt1502407,...,0,0,0,0,0,0,0,0,0,1
20,46,"Dec 3, 2010",Black Swan,13000000,106954678,331266710,2548.205462,high,Black Swan (2010),tt0947798,...,1,0,0,0,0,0,0,0,0,0
21,58,"Oct 13, 2017",Happy Death Day,5000000,55683845,125010260,2500.205200,high,Happy Death Day (2017),tt5308322,...,0,0,0,0,0,0,0,0,1,1
22,66,"Aug 28, 2015",War Room,3000000,67790117,73975239,2465.841300,high,War Room (2015),tt3832914,...,1,0,0,0,0,0,0,0,0,0
23,88,"Jun 29, 2012",Magic Mike,7000000,113721571,170549753,2436.425043,high,Magic Mike (2012),tt1915581,...,1,0,0,0,0,0,0,0,0,0
24,12,"Jan 11, 2013",A Haunted House,2500000,40041683,59922558,2396.902320,high,A Haunted House (2013),tt2243537,...,0,0,0,0,0,0,0,0,0,0
25,54,"Mar 11, 2016",10 Cloverfield Lane,5000000,72082999,108286422,2165.728440,high,10 Cloverfield Lane (2016),tt1179933,...,1,0,0,0,0,0,0,0,1,1
26,92,"Dec 9, 2016",La La Land,20000000,151101803,426351163,2131.755815,high,La La Land (2016),tt3783958,...,1,0,0,1,0,0,0,0,0,0
27,60,"Oct 24, 2014",Ouija,5000000,50856010,103300632,2066.012640,high,Ouija (2014),tt1204977,...,0,0,0,0,0,0,0,0,1,1
28,2,"Aug 11, 2017",Annabelle: Creation,15000000,102092201,305384865,2035.899100,high,Annabelle: Creation (2017),tt5140878,...,0,0,0,0,0,0,0,0,1,1
29,24,"Sep 8, 2017",It,35000000,327481748,697457969,1992.737054,high,It (2017),tt1396484,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1487,2,"Dec 31, 2012",After,650000,0,0,0.000000,low,After (2012),tt2404163,...,0,0,0,0,0,0,0,0,0,0
1488,54,"Feb 19, 2016",Forsaken,18000000,0,0,0.000000,low,Forsaken (2016),tt5127300,...,0,0,0,0,0,0,0,0,0,1
1489,17,"Dec 13, 2018",Bird Box,19800000,0,0,0.000000,low,Bird Box (2018),tt2737304,...,1,0,0,0,0,0,0,0,0,1
1490,3,"Dec 31, 2014",The Hadza: Last of the First,650000,0,0,0.000000,low,The Hadza: Last of the First (2014),tt2139721,...,0,0,0,0,0,0,0,0,0,0
1491,20,"Feb 24, 2015",Irreplaceable,600000,0,0,0.000000,low,Irreplaceable (2015),tt5274738,...,1,0,0,0,0,0,0,0,0,0
1492,19,"Dec 31, 2014",Light from the Darkroom,600000,0,0,0.000000,low,Light from the Darkroom (2014),tt3130704,...,1,0,0,0,0,0,0,0,0,0
1493,78,"Mar 10, 2015",Subconscious,500000,0,0,0.000000,low,Subconscious (2015),tt2909932,...,0,0,0,0,0,0,0,0,1,0
1494,67,"Dec 31, 2010",Death Calls,290000,0,0,0.000000,low,Death Calls (2010),tt1328873,...,0,0,1,0,0,0,0,0,1,0
1495,65,"Dec 31, 2015",AWOL-72,3000000,0,0,0.000000,low,AWOL-72 (2015),tt2048865,...,0,0,0,0,0,0,0,0,0,0
1496,32,"Dec 31, 2013",Independence Daysaster,1800000,0,0,0.000000,low,Independence Daysaster (2013),tt2645670,...,0,0,1,0,0,0,0,0,0,0
1497,52,"Dec 11, 2015",The Ridiculous 6,60000000,0,0,0.000000,low,The Ridiculous 6 (2015),tt2479478,...,0,0,0,0,1,0,0,0,0,0
1498,63,"Mar 10, 2015",Teeth and Blood,300000,0,0,0.000000,low,Teeth and Blood (2015),tt1991199,...,0,0,0,0,0,0,0,0,0,1
1499,86,"Jun 23, 2015",Crossroads,500000,0,0,0.000000,low,Crossroads (2015),tt1848834,...,1,0,0,0,0,0,0,0,0,0
1500,74,"Dec 11, 2015",Close Range,3000000,0,0,0.000000,low,Close Range (2015),tt3511596,...,0,0,0,0,0,0,0,0,0,0
1501,73,"Dec 31, 2015",Unnatural,3000000,0,0,0.000000,low,Unnatural (2015),tt3551400,...,0,0,0,0,0,0,0,0,0,1
1502,47,"May 6, 2016",Code of Honor,8000000,0,0,0.000000,low,Code of Honor (2016),tt4060866,...,0,0,0,0,0,0,0,0,0,0
1503,95,"May 10, 2011",The Hit List,6000000,0,0,0.000000,low,The Hit List (2011),tt1575694,...,0,0,0,0,0,0,0,0,0,0
1504,31,"Feb 3, 2012",Dysfunctional Friends,1800000,0,0,0.000000,low,Dysfunctional Friends (2012),tt1653002,...,1,0,0,0,0,0,0,0,0,0
1505,65,"Dec 31, 2010",Anderson's Cross,300000,0,0,0.000000,low,Anderson's Cross (2010),tt0393049,...,1,0,0,0,0,0,0,0,0,0
1506,16,"Nov 20, 2015",#Horror,1500000,0,0,0.000000,low,#Horror (2015),tt3526286,...,1,0,0,0,0,0,0,0,0,1
1507,89,"Dec 31, 2014",The Sound and the Shadow,500000,0,0,0.000000,low,The Sound and the Shadow (2014),tt2190180,...,0,0,0,0,0,0,0,0,1,0
1508,61,"Oct 1, 2010",Barry Munday,3000000,0,0,0.000000,low,Barry Munday (2010),tt0482461,...,1,0,0,0,0,0,0,0,0,0
1509,35,"Oct 20, 2015",Rotor DR1,350000,0,0,0.000000,low,Rotor DR1 (2015),tt4162992,...,0,1,0,0,0,0,0,0,0,0
1510,65,"Jul 11, 2014",The Perfect Wave,4000000,0,0,0.000000,low,The Perfect Wave (2014),tt2414822,...,1,0,1,0,0,0,0,0,0,0
1511,67,"Sep 8, 2015",Chain of Command,4000000,0,0,0.000000,low,Chain of Command (2015),tt4340720,...,0,0,0,0,0,0,0,0,0,0
1512,91,"Feb 9, 2010",Icarus,6000000,0,0,0.000000,low,Icarus (2010),tt8852552,...,0,0,0,0,0,0,0,0,0,0
1513,64,"Aug 14, 2019",Blinded by the Light,15000000,0,0,0.000000,low,Blinded by the Light (2019),tt8266310,...,1,0,0,0,0,0,0,0,0,0
1514,22,"Apr 8, 2016",Hush,1000000,0,0,0.000000,low,Hush (2016),tt5022702,...,0,0,0,0,0,0,0,0,0,1
1515,22,"Apr 8, 2016",Hush,1000000,0,0,0.000000,low,Hush (2016),tt7255884,...,1,0,0,0,0,0,0,0,0,0
1516,17,"Sep 8, 2015",Checkmate,1500000,0,0,0.000000,low,Checkmate (2015),tt3781616,...,0,0,0,0,0,0,0,0,0,0

In [16]:
blankMatrix.set_index("id", inplace=True)
blankMatrix.to_csv('../movie_data2.csv')

KeyError: 'id'

In [17]:
blankMatrix.to_csv('../movie_data2.csv')